In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\alexa\OneDrive\Documents\data analytics\Achievement 4\01-09-2022 Instacart Basket Analysis'

In [8]:
df_ords = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [10]:
df_ords.shape

(32404859, 16)

In [11]:
df_ords.head()

,order_id,user_id,eval_set,order_number,Order_day_of_week,order_hour_of_day,Days since last order,New customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both

In [14]:
crosstab = pd.crosstab(df_ords['Days since last order'], df_ords['order_number'], dropna = False)

In [15]:
crosstab.to_clipboard()